In [1]:
import pymysql

In [15]:
sql = pymysql.connect("localhost","root","wjy503",charset="utf8")

In [3]:
cursor = sql.cursor(cursor=pymysql.cursors.DictCursor)

In [4]:
cursor.execute("show databases")

5

In [5]:
cursor.fetchall()

[{'Database': 'information_schema'},
 {'Database': 'mysql'},
 {'Database': 'performance_schema'},
 {'Database': 'sys'},
 {'Database': 'wjy'}]

In [6]:
cursor.execute("use wjy")
cursor.execute("show tables")
cursor.fetchall()

[{'Tables_in_wjy': 'person'}]

In [7]:
cursor.execute("select * from person") # 查
cursor.fetchall()

[{'age': 12, 'sex': 'man'}]

In [9]:
cursor.execute("alter table person add column name char(20) not null first") # 增
cursor.execute("select * from person")
cursor.fetchall()

[{'name': '', 'age': 12, 'sex': 'man'}]

In [19]:
cursor.execute("update person set name='吴佳杨', age='19' where age=12;") # 改
sql.commit()
cursor.fetchall()

()

In [20]:
cursor.execute("select * from person") # 查
cursor.fetchall()

[{'name': '吴佳杨', 'age': 19, 'sex': 'man'}]

In [25]:
cursor.execute("insert into person values('咕咕咕',999,'man')") # 增
cursor.execute("select * from person")
cursor.fetchall()

[{'name': '吴佳杨', 'age': 19, 'sex': 'man'},
 {'name': '咕咕咕', 'age': 999, 'sex': 'man'}]

In [28]:
cursor.execute("delete from person where name = '咕咕咕'") # 删
cursor.execute("select * from person")
cursor.fetchall()

[{'name': '吴佳杨', 'age': 19, 'sex': 'man'}]

In [29]:
cursor.close()
sql.close()